{
  "root": true,
  "extends": [
    "@xylabs", "@xylabs/react"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "**/dist",
    "**/node_modules",
    "coverage",
    "bin",
    "docker",
    "storybook-static/",
    ".yarn"
  ],
  "rules": {
    "import/no-default-export": "warn",
    "import/no-internal-modules": ["warn", {"allow": [
      "**/*.jpg",
      "**/*.png",
      "**/*.svg",
      "react-icons/*",
      "lodash/*",
      "@mui/**/*"
    ]}]
  }
}