{
  "root": true,
  "extends": [
    "@xylabs/react"
  ],
  "ignorePatterns": ["node_modules", "build", "dist", "bin", "storybook-static"],
  "rules": {
    "import/no-default-export": "warn",
    "import/no-internal-modules": ["warn", {"allow": [
      "**/*.jpg",
      "**/*.png",
      "**/*.svg",
      "react-icons/*",
      "lodash/*",
      "@mui/**/*"
    ]}]
  }
}