{
  "root": true,
  "extends": [
    "@xylabs", "@xylabs/react"
  ],
  "ignorePatterns": [
    "**/dist",
    "**/node_modules",
    "**/docs",
    "coverage",
    "docs",
    "bin",
    "docker",
    "**/storybook-static",
    "**/node_modules",
    "storybook-static",
    ".yarn"
  ],
  "rules": {
    "import/no-default-export": "warn",
    "import/no-internal-modules": ["warn", {"allow": [
      "**/*.jpg",
      "**/*.png",
      "**/*.svg",
      "react-icons/*",
      "lodash/*",
      "@mui/**/*"
    ]}]
  }
}