.DS_Store
.git
.hg
.idea
.rollup.cache
.serverless
.svn
.webpack
.tsconfig*
build
dist
node_modules

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*.log
*.tgz
.tsconfig*

*.tsbuildinfo
.eslintcache

storybook-static
.env